/*часть просто для понимания*/
/*body {  
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}*/

/*h1 {
  width: 255px;
  margin: auto;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}
*/

/*.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 150px; //расстояние между строками
  padding-top: 30px;
  background: #847462 no-repeat center url("img/gloevk-bg.jpg");
  background: #847462 no-repeat center url("http://d.zaix.ru/sV9w.png");  //Вста-
  вили свое изображение "Валькирия"
  background-size: cover;
  color: #ffffff;
}*/



/*.Csarya_hrani: focus, hover{*/
  /*opacity: 0.5;*/ /* прозрачность всего: фона, текста, всего*/
  /*display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  border: 1px;
  text-align: center;
}
*/

/*.Csarya_hrani { 
  // opacity: 0.5;  //прозрачность всего: фона, текста, всего
  display: inline-block;
  width: 200px;
  padding: 8px;

  // background-color: transparent; // сделать прозрачным фон и границу
  // border-color: transparent; 
  background: rgba(255, 255, 255, 0.5);
  // background: rgba(255, 255, 255, 0.5); //сделать прозрачным или полупрозрачным фон

  border: 1px;
  text-align: center;
  

}*/

/*
.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}
*/

/*часть просто для понимания, все нужное - ниже*/

.new_one { /*правило для тела программы, чтоб она начиналась с самого начала страницы*/
  display: flex;
  /*flex-direction: row;*/
  box-sizing: border-box;
  width: 1000px;
  height: 1000px;
  padding: 0px;
  overflow-x: hidden;
  /*overflow: hidden;*/

}

/*родитель - шапка*/
.Csarya_hrani { 
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: row wrap;
  position: absolute;
  margin: 0px;
  
 /* align-content: center;*/
  height: 264px;
  width: 920px;
  /*justify-self: center;*/
  justify-content: center;
  zoom: 75%;
}

/*класс для секции, где лежит логотип*/
.square{
  margin-left: auto;/*задаем отступы самого блока с нашим элементом от края */
  position: absolute;
  width: 264px;
  height: 264px;
  border-radius: 132px;
  margin-top: -47px;
  background-color: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
}

.img_logo{
  position: absolute;
  width: 290px;
  height: 120px;
  left: 315px;
  top: 15px;

}

.stroka_1{
  position: absolute;
  width: 880px;
  height: 52px;
  left: 370px;
  top: 52px;

  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
}

.stroka_2{
  position: absolute;
  width: 280px;
  height: 52px;
  left: 1270px;
  top: 52px;

  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
}

.text{
  position: absolute;
  width: 116px;
  height: 14px;
  left: 403px; /*отступ от родительского класса слева от нашего элемента*/
  top: 124px;  /*отступ от родительского класса сверху от нашего элемента*/

  font-family: 'Comfortaa';
  font-style: normal;/*жирность шрифта*/
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;


  text-align: center; /*определяет горизонтальное выравнивание текста*/

  color: #020202;
}

.text_1{
  position: absolute;
  width: 200px;
  height: 19px;
  left: 638px;
  top: 69px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.text_2{
  position: absolute;
  width: 103px;
  height: 19px;
  left: 820px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133.8%;
/* identical to box height, or 19px */

color: #020202;
}

.text_3{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 963px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #64D370;

}

.text_4{
  position: absolute;
  width: 42px;
  height: 19px;
  left: 1093px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #020202;
}

.text_5{
  position: absolute;
  width: 35px;
  height: 19px;
  left: 1175px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #020202;
}

.number{
  position: absolute;
  width: 220px;
  height: 24px;
  left: 1301px;
  top: 67px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #64D370;
}

.ru_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 634px;
  top: 124px;
  border-radius: 17.5px;

  border-color: rgba(0, 0, 55, 0);

  background: #64D370;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
}

.ru_back: hover{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 634px;
  top: 124px;
  border-radius: 17.5px;

  border-color: rgba(0, 0, 55, 1);

  background: #64D370;
  box-shadow: 0px 0px 0px rgba(86, 86, 86, 0.3);
}

.ru_text{
  position: absolute;
  width: 24px;
  height: 15px;
  left: 640px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #F4F9FE;
}

.ua_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 684px;
  top: 124px;
  border-radius: 17.5px;
  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-color: rgba(0, 0, 55, 0);
}

.ua_text{
  position: absolute;
  width: 23px;
  height: 15px;
  left: 690px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #020202;
}

.en_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 734px;
  top: 124px;
  border-radius: 17.5px;
  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-color: rgba(0, 0, 55, 0);
}

.en_text{
  position: absolute;
  width: 23px;
  height: 15px;
  left: 740px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #020202;
}

@font-face{ /*добавляем нестандартный шрифт*/
  font-family: 'Comfortaa';
  src: url("Comfortaa.woff") format("woff"); 
}

@font-face{ /*добавляем нестандартный шрифт*/
  font-family: 'Montserrat';
  src: url("Montserrat-Regular.ttf") format("truetype");
 
}

.kuku{
  color: red;
}

.valera{
  /*position: ;*/
  display: flex;
 
  /*margin-left: 950px;*/
  padding-left: 690px;
  margin-top: -100px;
  /*overflow: hidden;*/

}

.kruzhok{
  /*box-sizing: border-box;*/

  /*position: absolute;*/

  width: 1100px;
  height: 1100px;
  
  /*left: 799px;
  top: 147.47px;*/
  /*margin-top: -147px;*/
  /*margin-left: 600px;*/
  background: #64D370;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
  
  border-radius: 550px;
  

  /*border-radius: 646.94px;*/
}

.tarelka{
  position: absolute;
  height: 500px;

}


/*KRISTINA*/

.button-kkal {
  position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 220px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100px;
 z-index: 0;
}

.button-new-kkal {
 position: absolute;
 width: 188px;
 height: 70px;
 left: 50px;
 top: 220px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;
 z-index: 0;
}

.icon-kkal{ 
 font-family: 'Comfortaa';
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 138.5%;
 

 text-align: center;

 color: #020202;
}

.icon-new-kkal{ 
 font-family: 'Comfortaa';
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 138.5%;
 

 text-align: center;

 color: #64D370;
}

.button-fish {
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 340px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.button-fish:hover {
 position: absolute;
 width: 140px;
 height: 70px;
 left: 50px;
 top: 340px;

 /*background: #F5FAFF;*/
 background: green;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;
}

.button-fish:focus {
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 340px;

 background: pink;
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}


.button-fish:focus::after {
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 340px;

 background: pink;
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.button-new-fish{
 position: absolute;
 width: 188px;
 height: 70px;
 left: 50px;
 top: 340px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;
 z-index: 0;
 
}

.point{
 position: absolute;
 width: 2.3px;
 height: 2.3px;
 left: 94.88px;
 top: 370.91px;
 /*z-index:  0;*/
}

.button-carrot{
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 460px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.icon-carrot{

 background-image: url('IMAGES/Carrot.png'), url('IMAGES/carrot(1).png'), url('IMAGES/carrot(2).png');
 background-position: center, 50% 45%, 62% 55%;
 background-repeat: no-repeat, no-repeat;
}

.button-bottle{
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 580px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.icon-bottle{
 background-image: url('IMAGES/bottle.png'), url('IMAGES/bottle_точка.png'), url('IMAGES/bottle_палка.png');
 background-position: center, 35% 35%, 40% 46%;
 background-repeat: no-repeat, no-repeat, no-repeat;
}

.button-meat{
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 700px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.icon-meat{
 background-image: url('IMAGES/meat.png'), url('IMAGES/meat_круг.png'), url('IMAGES/meat_точка.png');
 background-position: center, 35% 35%, 77% 50%;
 background-repeat: no-repeat, no-repeat, no-repeat;
} 

.button-table{
 position: absolute;
 width: 70px;
 height: 70px;
 left: 50px;
 top: 820px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}

.icon-table-5{
 position: absolute;
 width: 17px;
 height: 26px;
 left: 77px;
 top: 833px;

 font-family: 'Comfortaa';
 font-style: normal;
 font-weight: 300;
 font-size: 26px;
 line-height: 100%;
 /* identical to box height, or 26px */


 color: #020202;
}

.icon-table{
 background-image: url('IMAGES/table.png'), url(IMAGES/5.png);
 background-position: 50% 70%, 50% 25%;
 background-repeat: no-repeat, no-repeat;
}

.title-main{
    position: absolute;
    width: 477px;
    height: 135px;
    left: 367px;
    top: 400px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0.025em;

    color: #020202;
}
.text-main{
    position: absolute;
    width: 454px;
    height: 27px;
    left: 370px;
    top: 550px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.8%;

    color: #020202;
}

/*контентная честь*/
/* Rectangle 567 */
.table { 
    box-sizing: border-box;

    position: absolute;
    width: 1286.44px;
    height: 220px;
    left: calc(50% - 1286.44px/2 - 1.22px);
    top: 1100px;

    background: rgba(245, 250, 255, 0.8);
    border-radius: 30px;
}

/*.table1-item{
    display:  flex;
    justify-content: flex-start;
    align-items: center;
}*/
/*.table1-image{
    flex-basis:  100px;
}*/

/*.table1{
    background-color: ;
    display: grid;
    grid-template: repeat(6, 1fr);
    grid-gap: 10vw
}*/

.texted1 {
    position: absolute;
    width: 143.56px;
    height: 33.56px;
    left: calc(50% - 143.56px/2 - 512.22px);
    top: 126.78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;
}

.texted2{
    position: absolute;
    width: 175.25px;
    height: 33.56px;
    left: calc(50% - 175.25px/2 - 325.37px);
    top: 126.78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;
}

.texted3{
    position: absolute;
    width: 158.47px;
    height: 33.56px;
    left: calc(50% - 158.47px/2 - 130.76px);
    top: 126.78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;
}

.texted4{
    position: absolute;
    width: 206.95px;
    height: 33.56px;
    left: calc(50% - 206.95px/2 + 80.47px);
    top: 126.78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;
}

.texted5{
    position: absolute;
    width: 158.47px;
    height: 50.34px;
    left: calc(50% - 158.47px/2 + 291.24px);
    top: 126.78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;

}

.texted6{
    position: absolute;
    width: 184.58px;
    height: 50.34px;
    left: calc(50% - 184.58px/2 + 490.29px);
    top: 126.49px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130.22%;
    /* or 16px */

    text-align: center;

    color: #020202;
}

.gaga{
  zoom: 70%;
}