.new_one { /*правило для тела программы, чтоб она начиналась с самого начала страницы*/
  display: flex;
 /* flex-direction: row;*/
  box-sizing: border-box;
  width: 1000px;
  height: 1000px;
  padding: 0px;
  background: #F5FAFF;


  overflow-x: hidden;
  /*zoom: 75%;*/
  /*overflow: hidden;*/

}

/*родитель - шапка*/
.Csarya_hrani { 
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: row wrap;
  position: absolute;
  margin: 0px;
  
 /* align-content: center;*/
  height: 264px;
  width: 920px;
  /*justify-self: center;*/
  justify-content: center;
  zoom: 75%;
}



/*класс для секции, где лежит логотип*/
.square{
  margin-left: auto;/*задаем отступы самого блока с нашим элементом от края */
  position: absolute;
  width: 264px;
  height: 264px;
  border-radius: 132px;
  margin-top: -47px;
  background-color: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
}

.img_logo{
  position: absolute;
  width: 290px;
  height: 120px;
  left: 315px;
  top: 15px;

}

.stroka_1{
  position: absolute;
  width: 880px;
  height: 52px;
  left: 370px;
  top: 52px;

  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
}

.stroka_2{
  position: absolute;
  width: 280px;
  height: 52px;
  left: 1270px;
  top: 52px;

  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
}

.text{
  position: absolute;
  width: 116px;
  height: 14px;
  left: 403px; /*отступ от родительского класса слева от нашего элемента*/
  top: 124px;  /*отступ от родительского класса сверху от нашего элемента*/

  font-family: 'Comfortaa';
  font-style: normal;/*жирность шрифта*/
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;


  text-align: center; /*определяет горизонтальное выравнивание текста*/

  color: #020202;
}

.text_1{
  position: absolute;
  width: 200px;
  height: 19px;
  left: 638px;
  top: 69px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.text_2{
  position: absolute;
  width: 103px;
  height: 19px;
  left: 820px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 133.8%;
/* identical to box height, or 19px */

color: #020202;
}

.text_3{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 963px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #64D370;

}

.text_4{
  position: absolute;
  width: 42px;
  height: 19px;
  left: 1093px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #020202;
}

.text_5{
  position: absolute;
  width: 35px;
  height: 19px;
  left: 1175px;
  top: 69px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #020202;
}

.number{
  position: absolute;
  width: 220px;
  height: 24px;
  left: 1301px;
  top: 67px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #64D370;
}

.ru_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 634px;
  top: 124px;
  border-radius: 17.5px;

  border-color: rgba(0, 0, 55, 0);

  background: #64D370;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
}

.ru_back: hover{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 634px;
  top: 124px;
  border-radius: 17.5px;

  border-color: rgba(0, 0, 55, 1);

  background: #64D370;
  box-shadow: 0px 0px 0px rgba(86, 86, 86, 0.3);
}

.ru_text{
  position: absolute;
  width: 24px;
  height: 15px;
  left: 640px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #F4F9FE;
}

.ua_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 684px;
  top: 124px;
  border-radius: 17.5px;
  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-color: rgba(0, 0, 55, 0);
}

.ua_text{
  position: absolute;
  width: 23px;
  height: 15px;
  left: 690px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #020202;
}

.en_back{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 734px;
  top: 124px;
  border-radius: 17.5px;
  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-color: rgba(0, 0, 55, 0);
}

.en_text{
  position: absolute;
  width: 23px;
  height: 15px;
  left: 740px;
  top: 134px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  letter-spacing: 0.025em;

  color: #020202;
}

@font-face{ /*добавляем нестандартный шрифт*/
  font-family: 'Comfortaa';
  src: url("css/fonts/Comfortaa.woff") format("woff"); 
}

@font-face{ /*добавляем нестандартный шрифт*/
  font-family: 'Comfortaa-Bold';
  src: url("css/fonts/Comfortaa-Bold.ttf") format("truetype"); 
}

@font-face{ /*добавляем нестандартный шрифт*/
  font-family: 'Montserrat';
  src: url("css/fonts/Montserrat-Regular.ttf") format("truetype");
 

}

@font-face{ 
  font-family: 'Montserrat-Bold';
  src: url("css/fonts/Montserrat-Bold.ttf") format("truetype");
 
}

@font-face{ 
  font-family: 'Montserrat-SemiBold';
  src: url("css/fonts/Montserrat-SemiBold.ttf") format("truetype");
 
}

@font-face{ 
  font-family: 'Montserrat-Medium';
  src: url("css/fonts/Montserrat-Medium.ttf") format("truetype");
 
}


.valera{
 
  /*margin-left: 950px;*/
  padding-left: 730px;
  margin-top: -100px;
  

  display: flex;
  justify-content: space-around;

  

}

.kruzhok{
 
  width: 1000px;
  height: 1000px;
  
  background: #64D370;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
  border-radius: 50%;

  display: flex;
 
  flex-direction: column;
  justify-content: space-around;
 /* align-items: center;*/
  

}

.small_kruzhok{
  width: 550px;
  height: 550px;

  margin-left: 140px;
  margin-top: 40px;


  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
  border-radius: 50%;
  padding: 10px;

  display: flex;
 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

.food-pic{
  /*position: absolute;*/
  width: 520px;
  height: 520px;
  border-radius: 50%;

}

.second{
 
  width: 500px;
  height: 500px;

  margin-left: 10px;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 10px;

 /* margin-left: 100px;
  margin-top: 540px;


  background: black;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);*/
  border-radius: 50%;

 /* align-items: center;*/

}


.button-menu{
  position: absolute;
  width: 70px;
  height: 670px;
  left: 110px;
  top: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  zoom: 75%;
}


.button-kkal{
    width: 70px;
    height: 70px;

    /*background-image: url('images/Ккал-icon.svg');*/

    font-family: 'Comfortaa-Bold';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  color: #020202;

   background: #F5FAFF;
   box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
   border: none;
   border-radius: 100px;
}

.button-kkal:hover {
    width: 101px;
    height: 70px;

    /*background-image: url('images/Ккал-icon-green.svg');*/
    color: #64D370;
  box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
  border: none;
 border-radius: 190px;
}

.button-kkal:focus {
    width: 188px;
    height: 70px;
    color: #64D370;
  box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
  border: none;
 border-radius: 190px;
}

.button-kkal:focus::after {
    width: 70px;
    height: 70px;
    color: #64D370;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;
}


.button-fish {

 width: 70px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;

 background-image: url('images/fish-icon.svg');
 background-repeat: no-repeat;
 background-position: center;
 
}

.button-fish:hover {
 width: 101px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/fish-icon-green.svg');

 background-position: 35%;
 background-repeat: no-repeat;
}

.button-fish:focus {
 width: 188px;
 height: 70px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/fish-icon-green.svg');
 background-repeat: no-repeat;
 background-position: 15%;
}


.button-fish:after::focus {
 width: 70px;
 height: 70px;

 /*background: pink;*/
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 background-repeat: no-repeat;
 border-radius: 100%;
}

/*----------------------------------------------------*/

.button-carrot {

 width: 70px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;

 background-image: url('images/carrot-icon.svg');
 background-repeat: no-repeat;
 background-position: center;
 
}


.button-carrot:hover {
 width: 101px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/carrot-icon-green.svg');

 background-position: 35%;
 background-repeat: no-repeat;
}

.button-carrot:focus {
 width: 188px;
 height: 70px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/carrot-icon-green.svg');
 background-repeat: no-repeat;
 background-position: 15%;
}


.button-carrot:focus::after {
 width: 70px;
 height: 70px;

 /*background: pink;*/
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 background-repeat: no-repeat;
 border-radius: 100%;
}


.button-bottle {

 width: 70px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;

 background-image: url('images/bottle-icon.svg');
 background-repeat: no-repeat;
 background-position: center;
 
}


.button-bottle:hover {
 width: 101px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/bottle-icon-green.svg');

 background-position: 35%;
 background-repeat: no-repeat;
}

.button-bottle:focus {
 width: 188px;
 height: 70px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/bottle-icon-green.svg');
 background-repeat: no-repeat;
 background-position: 15%;
}


.button-bottle:focus::after {
 width: 70px;
 height: 70px;

 /*background: pink;*/
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 background-repeat: no-repeat;
 border-radius: 100%;
}

.button-meat {

 width: 70px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;

 background-image: url('images/meat-icon.svg');
 background-repeat: no-repeat;
 background-position: center;
 
}


.button-meat:hover {
 width: 101px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/meat-icon-green.svg');

 background-position: 35%;
 background-repeat: no-repeat;
}

.button-meat:focus {
 width: 188px;
 height: 70px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/meat-icon-green.svg');
 background-repeat: no-repeat;
 background-position: 15%;
}


.button-meat:focus::after {
 width: 70px;
 height: 70px;

 /*background: pink;*/
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 background-repeat: no-repeat;
 border-radius: 100%;
}

.button-table {

 width: 70px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 100%;

 background-image: url('images/table-icon.svg');
 background-repeat: no-repeat;
 background-position: center;
 
}


.button-table:hover {
 width: 101px;
 height: 70px;


 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/table-icon-green.svg');

 background-position: 35%;
 background-repeat: no-repeat;
}

.button-table:focus {
 width: 188px;
 height: 70px;

 background: #F5FAFF;
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 border-radius: 190px;

 background-image: url('images/table-icon-green.svg');
 background-repeat: no-repeat;
 background-position: 15%;
}


.button-table:focus::after {
 width: 70px;
 height: 70px;

 /*background: pink;*/
 /*background: #F5FAFF;*/
 box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
 border: none;
 background-repeat: no-repeat;
 border-radius: 100%;
}






/*----------------------------------------------------*/

.twoo{
    width: 450px;
    height: 42px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;

}

.zakaz{ /*"zakas" button*/

  border: none;
  background: #64D370;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
  width: 250px;
  height: 42px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  zoom: 102px;
}

.text-zakaz{ /* text style in "zakas" button */
    color: white;
    text-align: center;


    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
  
}

.proba{
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  

}

.proba-block{
  display: flex;
  height: 42px;
  width: 180px;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  

}



.text-proba{
    color: black; 
    font-size: 14px;  
     
    font-family: 'Montserrat', sans-serif;
    font-style: normal; 
    font-weight: 400; 
    line-height: 19px;
    
    margin: 0px;
    height: 21px;
}

.text-proba-number{
    color: #64D370; 
    font-size: 25px; 
    /*font-family: 'Montserrat'; */
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal; 
    font-weight: 400; 
    line-height: 19px;
    
    margin: 0px;
    height: 21px;
}
/*----------------------------------------------------*/


.rubka{
    box-sizing: border-box;

    position: absolute;
    width: 420px;
    height: 250px;
    margin-left: 280px;
    margin-top: 250px;
    padding: 0px;

    background: rgba(245, 250, 255, 0);
    /*border-radius: 30px;*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    
    /*zoom: 65%;*/

}
.Detox_block{
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 0px;
}

.title-main{
    /*width: 400px;*/
    /*height: 95px;*/

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    letter-spacing: 0.025em;
    
    margin: 0px;
    text-align: left;
    /*margin: 0px;*/
    color: #020202;
}
.text-main{
    
    /*width: 454px;*/
    /*height: 20px;
*/
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 133.8%;
    text-align: left;
    color: #020202;
}

.important{
    display: flex;
    justify-content: center;
    align-items: center;
}





.features-block { 
    box-sizing: border-box;
    
    position: absolute;
    width: 998px;
    height: 190px;
    left: calc(17%);
    top: 830px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background: rgba(245, 250, 255, 0.8);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;

}
.features-img {
    width: 50px;
    /*height: 65px;*/
    margin-bottom: 10px;
}

.features-img-package {
    width: 42px;
    /*height: 65px;*/
    margin-bottom: 10px;
}

.features-img-auto {
    width: 77px;
    /*height: 65px;*/
    margin-bottom: 10px;
}
.features-text{
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 500;
    line-height: 130.22%;
    text-align: center;
    padding: 8px;
    font-size: 9px;
    margin: 0px;


}

.block-eating{
    position: absolute;
    left: calc(19%);
    top: 1420px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    zoom: 79%;
}

.program{
    width: 580px;
    height: 62px;

    border: none;
    
    background: #64D370;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;

    color: white;
    text-align: center;


    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;

}
.special{
    width: 580px;
    height: 62px;

    border: none;

    background: #DEE6EE;
    border-radius: 190px;


    color: black;
    text-align: center;


    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
  
}



.block-eating-2{
    position: absolute;
    /*left: calc(19%);*/
    top: 1080px;
    left: -190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    background: rgba(38, 240, 58, 0.1);
    zoom: 79%;

    width: 500px;
    height: 500px;
  
   
    
    border-radius: 50%;

}



.block-eating-3{
    position: absolute;
    /*left: calc(19%);*/
    top: 1880px;
    left: 1470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgba(38, 240, 58, 0.1);
    zoom: 79%;

    width: 500px;
    height: 500px;
  
   
    
    border-radius: 50%;

}


.block-eating-3-in{
    position: absolute;
    /*left: calc(19%);*/
    /*top: 1580px;
    left: 1470px;*/
    left: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    


    background: #F5FAFF;
    

    width: 445px;
    height: 445px;
  
   
    
    border-radius: 50%;

}


/*--------------------BIG-BLOCK----------------------------*/

.big-block { 
    box-sizing: border-box;
    
    position: absolute;
    width: 998px;
    height: 797px;
    left: calc(17%);
    top: 1210px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background: rgba(245, 250, 255, 0.0);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}




/*---------------KALLORIES-----------------*/
.big-block-kallories {
    box-sizing: border-box;
    
  /*  position: absolute;*/
    width: 998px;
    height: 97px;
    /*left: calc(17%);
    top: 830px;*/

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background: rgba(245, 250, 255, 0.0);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.big-kallories-text-1{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 4px;
    margin: 0px;
}

.big-kallories-text-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 4px;
    margin: 0px;
}


/*---------------FITNESS-----------------*/


.big-block-two {
    box-sizing: border-box;
    
    /*position: absolute;*/
    width: 998px;
    height: 690px;
    /*left: calc(17%);
    top: 830px;*/

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background: rgba(245, 250, 255, 0.8);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.big-item-min {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;


    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    width: 320px;
    height: 590px;


}



.big-block-fitness {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

    background: #64D370;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 30px;

    padding: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 220px;

}





.fitness-row{
    display: flex;
    flex-direction: row;
    
    justify-content: stretch;
    align-items: baseline;
    width: 278px;
    height: 40px;
}





.big-fitness-text-1{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    padding: 4px;
    margin: 8px;
    left: 0px;
    color: white;
}

.big-fitness-text-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 4px;
    margin: 8px;

    color: white;
}


.big-fitness-text-3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 10px;

    color: white;
}




.big-block-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    height: 200px;
    width: 100%;


}

.cost-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

  

    padding: 6px;
    margin: 0px;
    

}

.big-block-cost-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 3px;
margin: 0px;
color: #000000;
}



.big-item-max {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /*-------------*/
    align-items: center; 

    
    padding: 6px;
    margin-left: 15px;
    margin-right: 0px;
    height: 590px;
    width: 668px;
}


.big-week{
    border: none;
  background: #F5FAFF;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
  width: 100%;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  zoom: 102px;
}


.big-week-text-mon{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height */
flex-direction: row;
text-align: center;
text-transform: uppercase;

color: #64D370;

}

.big-week-text{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height */
flex-direction: row;
text-align: center;
text-transform: uppercase;

color: black;

}


.big-block-schedule {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background: #F5FAFF;

    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 30px;

    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    height: 440px;
    width: 100%;
    zoom: 96%;

}

.schedule-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    padding: 6px;
    margin: 3px;
    

}


.big-block-schedule-text-1 {
    font-family: 'Montserrat-Medium';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 5px;

align-items: flex-start;

margin: 6px;
color: #000000;
}

.big-block-schedule-text-2 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 5px;
align-items: flex-start;



margin: 6px;
color: #000000;
}

.true-1{
    width: 20%;
}

.true{
    width: 69%;
}

.true-2{
    width: 11%;
}



/*--------------------BIG-BLOCK-END-------------------------*/


.carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130%;
}